<module>
	<rawname>api</rawname>
	<repo>standard</repo>
	<name>PBX API</name>
	<version>15.0.3.4</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>AGPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Connectivity</category>
	<menuitems>
		<api>API</api>
	</menuitems>
	<changelog>
		*15.0.3.4* FREEPBX-20346 
		*15.0.3.3* FREEPBX-20282 Whoops error when using GraphQL Documentation tab of API module 
		*15.0.3.2* FREEPBX-19914 
		*15.0.3.1* FREEPBX-18907
		*15.0.3* Depend on PM2
		*15.0.2.1* Fix authorize screen
		*15.0.2* Add freepbx to rest container
		*15.0.1alpha4* Allow defining scope restrictions on application creation
	</changelog>
	<description>
	</description>
	<depends>
		<module>pm2 ge 15.0.1</module>
	</depends>
	<hooks>
		<framework class="Chown" namespace="FreePBX\Console\Command">
			<method callingMethod="fwcChownFiles" class="Api" namespace="FreePBX\modules">chownFreepbx</method>
		</framework>
	</hooks>
	<database>
		<table name="api_applications">
			<field name="id" type="integer" unsigned="true" primarykey="true" autoincrement="true"/>
			<field name="owner" type="integer" notnull="false"/>
			<field name="name" type="string" length="50" default=""/>
			<field name="description" type="text" notnull="false"/>
			<field name="grant_type" type="string" length="20" default=""/>
			<field name="client_id" type="string" length="128" default=""/>
			<field name="client_secret" type="string" length="64" notnull="false"/>
			<field name="redirect_uri" type="string" length="150" notnull="false"/>
			<field name="website" type="string" length="150" notnull="false"/>
			<field name="algo" type="string" length="10" notnull="false"/>
			<field name="allowed_scopes" type="text" notnull="false"/>
			<key name="client_id" type="unique">
				<column name="client_id"/>
			</key>
		</table>
		<table name="api_access_tokens">
			<field name="token" type="string" length="80" default="" primarykey="true"/>
			<field name="aid" type="integer" unsigned="true"/>
			<field name="expiry" type="integer"/>
			<field name="scopes" type="blob"/>
			<field name="uid" type="integer" notnull="false"/>
			<field name="ip_address" type="string" length="80" default=""/>
			<field name="last_accessed" type="integer"/>
		</table>
		<table name="api_auth_codes">
			<field name="code" type="string" length="80" default="" primarykey="true"/>
			<field name="aid" type="integer" unsigned="true"/>
			<field name="expiry" type="integer"/>
			<field name="scopes" type="blob"/>
			<field name="uid" type="integer" notnull="false"/>
			<field name="ip_address" type="string" length="80" default=""/>
			<field name="last_accessed" type="integer"/>
		</table>
		<table name="api_refresh_tokens">
			<field name="token" type="string" length="80" default="" primarykey="true"/>
			<field name="access_token" type="string" length="80" default=""/>
			<field name="expiry" type="integer"/>
			<field name="ip_address" type="string" length="80" default=""/>
			<field name="last_accessed" type="integer"/>
		</table>
	</database>
	<supported>
		<version>15.0</version>
	</supported>
</module>
